.center-image 
{
    margin: 0 auto;
    display: block;
}

.small-center-text 
{
    text-align: center;
    font-size: 60%
}

/* Enables horizontal scrolling in code blocks */
pre 
{
    white-space: pre;
    overflow: auto;
}