.center-image 
{
    margin: 0 auto;
    display: block;
}

.small-center-text 
{
    text-align: center;
    font-size: 60%
}

/* Enables horizontal scrolling in code blocks */
pre 
{
    white-space: pre;
    overflow: auto;
}

/* Footer */
footer {
  text-align: center;
  padding: 0.6667em;
}

/* Social media footer icons */
.fas, .fab {
    color: #aa759f;
  }
  
/* Calendar date and reading time display settings*/
.post-date {
    font-size: .75rem
}
.spacer {
    padding-left: 15px;
}